<header class="header">
  <div class="header__col">
    <img
      src="assets/images/usa-flag-32px.png"
      class="header__img"
      alt="USD"
      title="USD"
      width="32"
      height="32"
    />&nbsp;: {{ USDUAH }}
  </div>
  <div class="header__col">
    <img
      src="assets/images/union-icon-32.png"
      class="header__img"
      alt="EUR"
      title="EUR"
      width="32"
      height="32"
    />&nbsp;: {{ EURUAH }}
  </div>
</header>
<div class="hr"></div>
<app-convertor [USDUAH]="USDUAH" [EURUAH]="EURUAH"></app-convertor>
